<h1>Preços</h1>
    
<section>
    <div class="container">
        <div class="row col-md-8 col-md-offset-2">

            <div class="col-md-6 text-center">
                <div class="panel panel-primary panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-desktop"></i>
                        <h3>Novo Cliente</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>R$ 99,99 / mês<sup>*</sup></strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> Integração com Facebook</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Registro de domínio<sup>**</sup></li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Hospedagem do site</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Suporte técnico</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-primary" href="#">COMPRE AGORA!</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-center">
                <div class="panel panel-success panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-desktop"></i>
                        <h3>Renovação<sup>**</sup></h3>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>R$ 69,99 / mês</strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> Integração com Facebook</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Registro de domínio<sup>***</sup></li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Hospedagem do site</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Suporte técnico</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-success" href="#">RENOVE AGORA!</a>
                    </div>
                </div>
            </div>

            <p><strong>*:</strong> Apenas para pagamento anual no valor de R$ 999,90, plano válido durante 12 meses, que pode ser parcelado em até 12 vezes sem juros.</p>
            <p><strong>**:</strong> O valor de R$ 69,99 é válido apenas para clientes atuais ao fazerem a renovação do site após o primeiro ano de serviço.</p>
            <p><strong>***:</strong> O registro de um domínio <em>.com</em> ou <em>.com.br</em> está incluso em nosso plano. Para registrar domínios adicionais ou com extensões diferentes, consulte-nos para conhecer as condições.</p>

        </div>
    </div>
</section>
