<h1>Vantagens</h1>
<p class="lead">Além de ser rápido e fácil criar um site com o Mob Your Life, você ainda terá diversas vantagens:</p>

<div class="row col-md-8 col-md-offset-2 vantagens">

    <div class="well">
        <p><i class="fa fa-facebook fa-3x text-primary"></i></p>
        <h4 class="list-group-item-heading">Integração com Facebook</h4>
        <p class="list-group-item-text">Apenas faça uma nova postagem em sua fanpage, como você já está acostumado a fazer, e em minutos o seu site será automaticamente atualizado!</p>
    </div>

    <div class="well">
        <p><i class="fa fa-desktop fa-3x text-primary"></i></p>
        <h4 class="list-group-item-heading">Gerenciamento descomplicado</h4>
        <p class="list-group-item-text">Realizar tarefas específicas é muito fácil em nossa interface de gerenciamento descomplicada. Crie páginas estáticas como se estivesse usando o Word!</p>
    </div>

    <div class="well">
        <p><i class="fa fa-cloud fa-3x text-primary"></i></p>
        <h4 class="list-group-item-heading">Infraestrutura de qualidade</h4>
        <p class="list-group-item-text">Seu site em servidores de primeira linha nas nuvens da Amazon e Microsoft, e você não tem que se preocupar com nada disso!</p>
    </div>

    <div class="well">
        <p><i class="fa fa-truck fa-3x text-primary"></i></p>
        <h4 class="list-group-item-heading">Melhoria contínua</h4>
        <p class="list-group-item-text">Estamos sempre trabalhando em melhorias para o sistema, e você as recebe sem nenhum custo adicional!</p>
    </div>

    <p>
        <a class="btn btn-success btn-lg" href="http://www.mobyourlife.com.br" target="_blank">
            <i class="fa fa-star fa-fw"></i>
            Crie agora o seu site!
        </a>
    </p>

</div>
