<h1>Vantagens</h1>
<p class="lead">Além de ser rápido e fácil criar um site com o Mob Your Life, você ainda terá diversas vantagens:</p>

<div class="row col-md-8 col-md-offset-2 vantagens">

    <div class="col-md-6">
        <div class="well">
            <p><i class="fa fa-facebook fa-3x text-primary"></i></p>
            <h4 class="list-group-item-heading">Integração com Facebook</h4>
            <p class="list-group-item-text">Atualize você mesmo o seu site diretamente por seu Facebook!</p>
        </div>
    </div>

    <div class="col-md-6">
        <div class="well">
            <p><i class="fa fa-facebook fa-3x text-primary"></i></p>
            <h4 class="list-group-item-heading">Integração com Facebook</h4>
            <p class="list-group-item-text">Atualize você mesmo o seu site diretamente por seu Facebook!</p>
        </div>
    </div>

    <div class="col-md-6">
        <div class="well">
            <p><i class="fa fa-facebook fa-3x text-primary"></i></p>
            <h4 class="list-group-item-heading">Integração com Facebook</h4>
            <p class="list-group-item-text">Atualize você mesmo o seu site diretamente por seu Facebook!</p>
        </div>
    </div>

    <div class="col-md-6">
        <div class="well">
            <p><i class="fa fa-facebook fa-3x text-primary"></i></p>
            <h4 class="list-group-item-heading">Integração com Facebook</h4>
            <p class="list-group-item-text">Atualize você mesmo o seu site diretamente por seu Facebook!</p>
        </div>
    </div>

    <div class="col-md-6">
        <div class="well">
            <p><i class="fa fa-facebook fa-3x text-primary"></i></p>
            <h4 class="list-group-item-heading">Integração com Facebook</h4>
            <p class="list-group-item-text">Atualize você mesmo o seu site diretamente por seu Facebook!</p>
        </div>
    </div>

    <div class="col-md-6">
        <div class="well">
            <p><i class="fa fa-facebook fa-3x text-primary"></i></p>
            <h4 class="list-group-item-heading">Integração com Facebook</h4>
            <p class="list-group-item-text">Atualize você mesmo o seu site diretamente por seu Facebook!</p>
        </div>
    </div>

</div>
